<table class="ui red table">
  <thead>
    <tr>
      {{#each columns as |column|}}
        <th>{{column.name}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each model as |data|}}
    <tr>
      {{#each columns as |column|}}
        <td>{{get-property data column.key}}</td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>
{{yield}}