<table class="ui red table">
  <thead>
    <tr>
      {{#if (eq type 'category')}}
        <th>Logo</th>
      {{/if}}
      {{#each columns as |column|}}
        <th>{{column.name}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each model as |data|}}
      {{#link-to (concat type '.edit') data.id tagName="tr"}}
        {{#each columns as |column index|}}
          {{#if (and (eq type 'category') (eq index 0))}}
            <td>
              <img src="{{data.image_source}}" style="width: 30px;  height: 30px">
            </td>
          {{/if}}
          <td>{{get-property data column.key}}</td>
        {{/each}}
      {{/link-to}}
    {{/each}}
  </tbody>
</table>
{{yield}}