<div class="ui segment" style="border: none; box-shadow: none; margin: 0; padding: 0">
  <div class="ui grid" style="margin: 0;">
    <div class="column">
      <div style="float: right; width: 300px">
        {{power-select-dropdown
          isRemoteSearch=true
          searchField='name'
          optionLabel='name'
          renderInPlace=true
          selectedOption=selectedOrganization
          placeHolder="Select Organization"
          modelName="organization"}}
      </div>
    </div>
  </div>
</div>
{{yield}}