<div class="ui container">
  <div class="ui six item menu">
    {{#link-to "category.index" class="item"}}Categories{{/link-to}}
    {{#link-to "category.create" class="item"}}Add Category{{/link-to}}
    {{#link-to "category.edit" class="item"}}Update Category{{/link-to}}
    {{#link-to "item.index" class="item"}}Items{{/link-to}}
    {{#link-to "item.create" class="item"}}Add Item{{/link-to}}
    {{#link-to "item.edit" class="item"}}Update Item{{/link-to}}
  </div>
  {{outlet}}
</div>